@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#F6F6F6;
    font-family: 'Open Sans', sans-serif;
}

.food-list {
    overflow-y: scroll;
    padding-bottom: 64px;
    padding-top: 15vh;
}